
<% if(message == 0) {%>
<p>No row(s) had been choosen.</p>

<div class="btn_div">
    <a href="javascript:$('.ui-dialog-content').dialog('close');"  class="btn btn_type_3"><span>Close</span></a>
</div>

<% }else if(message == 1){ %>
<p>Are you sure you want to delete this data?</p>

<div class="btn_div">
    <a href="#" id="delete_rows" class="btn btn_type_3 btn_space"><span>Delete</span></a>
    <a href="javascript:$('.ui-dialog-content').dialog('close');" class="btn btn_type_3"><span>Cancel</span></a>
</div>


<% }else if(message == 2){ %>
<p>Deleted successfully.</p>

<div class="btn_div">
    <a href="javascript:$('.ui-dialog-content').dialog('close');"  class="btn btn_type_3" id="delete_success"><span>Close</span></a>
</div>


<% }; %>