
<div id="main_wrap">

    <div id="form-login" class="ui-corner-all">
        <div id="logo_wrap"><h1 id="logo" class="fl fnt" ></h1></div>
        <div id="message_wrap"></div><br />
        <form method="POST" id="login_form">
        
            <div>
                <label for="Username">Username</label>
                <input id="user_login" type="text" name="username" class="ui-corner-all txtbox" >	
            </div>
            
            <div>
                <label for="Password">Password&nbsp;</label>	
                <input id="user_pass" type="password" name="password" class="ui-corner-all txtbox" >	
            </div>
            
            <div class="button fr">
                <a href="javascript:void(0)" class="btn btn_type_3"><span>&nbsp;Log in&nbsp;&raquo;</span></a>
            </div>
        
        </form>                        
        
    </div>
    <center><strong><p>© Simplex Internet Philippines | All Rights Reserved 2012.</p></strong></center>
</div>


